cluster.name: Tetrasearch
node.name: {{ name }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: {{ ip }}
discovery.seed_hosts: ["192.168.56.51", "192.168.56.52"]
cluster.initial_master_nodes: ["192.168.56.51"]
node.master: {{ master }}
