input {
  redis {
    host => "localhost"
    key => "filbeat"
    data_type => "list"
  }
}

filter {
    grok {
      match => { "message" => "%{COMBINEDAPACHELOG}" }
    }
    date {
    match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
    }
  geoip {
      source => "clientip"
    }
}

output {
   elasticsearch {
      hosts => ["localhost:9200"]
      index => "logstash_apache_log"
      document_type => "demo2"
}

   stdout { codec => "rubydebug" }
}
